<footer class="flex flex-col flex-wrap w-full justify-around bg-black">
      <span id="back-to-top-btn" class="text-white text-6xl w-full px-6 pt-6">
         <a href="#" class="no-underline text-gray-300 focus:outline-none">&#8963; <span class="text-base align-top">Back to top</span></a>
         </span>

         <div class="flex items-start justify-around pt-5 pb-10">
    <nav class="px-6">
        <h1 class="text-3xl font-bold text-white">Sitemap</h1>
<ul class="flex flex-col justify-between mt-5">
<li><a class="no-underline text-2xl text-white" href="#about">About Stocker</a></li>
<li><a class="no-underline text-2xl text-white " href="#pricing">Pricing</a></li>
<li><a class="no-underline text-2xl text-white" href="#contact">Contact</a></li>
<li><a class="no-underline text-2xl text-indigo-400" href="#signup">Sign up</a></li>
</ul>
</nav>
<div class="flex justify-center text-white">
    <p class="text-xl">&copy; 2021 Carl Summers</p>
    </div>
    </div>

    </footer>